<!doctype html>
<html>
  <head>
    {% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/dashboard.css') }}">
    <script src="{{ url_for('static',filename='js/plotly-180717.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-180717.js') }}"></script>
    <script src="{{ url_for('static',filename='js/d3-180717.js') }}"></script>
    <title>Sales/{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% include 'nav/navtop.html' %}
    <div class="container-fluid">
      <div class="row">
        {% include 'nav/navside.html' %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block content %}
            {% endblock %}
            <div>
              {% block footer %}
              &copy; Copyright 2017 by <a href="http://www.jpoffline.com/">jpoffline</a>.
              {% endblock %}
            </div>
        </div>
      </div>
    </div>
  </body>
</html>