<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li 
            {% if request.path=='/' %}
                class="active" 
            {% endif %}
        >
            <a href="/">Home </a>
        </li>
        <li 
            {% if request.path=='/analytics' %}
                class="active" 
            {% endif %}
        >
            <a href="/analytics"><span class="glyphicon glyphicon-stats"></span> Analytics {%if menuItems %}<span class="badge badge-info">{{menuItems.n}}</span>{%endif%}</a>
        </li>
        {%if menuItems %}<li><a>{{menuItems.username}}</a></li>{%endif%}
    </ul>
</div>